body {
    color: #113;
}

.popup-box {
    position: absolute;
    border-radius: 5px;
    background: #fff;
    top: 295px;
    left: 100px;
    display: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    z-index: 9999999;
    font-size: 14px;
    padding: 20px;
}

.popup-box .close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: #434343;
    padding: 20px;
    font-size: 20px;
}

.popup-box .close:hover {
    color: #000;
}

.popup-box h2 {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.popup-box .top {
    padding: 20px 20px 20px 0;
}

.popup-box .top h2 {
    font-weight: bold;
    text-align: left;
}

.popup-box .bottom {
    background: #eee;
    border-top: 1px solid #e5e5e5;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#blackout {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 999999;
    left: 0;
    display: none;
}

.calendar-day {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    height: 80px;
}

.calendar-table {
    margin: 0 auto;
    width: 700px;
}

.selected {
    background-color: #eee;
}

.outside .date {
    color: #ccc;
}

.timetitle {
    white-space: nowrap;
    text-align: right;
}

.event {
    border-top: 1px solid #b2dba1;
    border-bottom: 1px solid #b2dba1;
    background-image: linear-gradient(to bottom, #dff0d8 0px, #c8e5bc 100%);
    background-repeat: repeat-x;
    color: #3c763d;
    border-width: 1px;
    font-size: .75em;
    padding: 0 .75em;
    line-height: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1px;
}

.event.begin {
    border-left: 1px solid #b2dba1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.event.end {
    border-right: 1px solid #b2dba1;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.event.all-day {
    border-top: 1px solid #9acfea;
    border-bottom: 1px solid #9acfea;
    background-image: linear-gradient(to bottom, #d9edf7 0px, #b9def0 100%);
    background-repeat: repeat-x;
    color: #31708f;
    border-width: 1px;
}

.event.all-day.begin {
    border-left: 1px solid #9acfea;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.event.all-day.end {
    border-right: 1px solid #9acfea;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.event.clear {
    background: none;
    border: 1px solid transparent;
}

.table-tight > thead > tr > th,
.table-tight > tbody > tr > th,
.table-tight > tfoot > tr > th,
.table-tight > thead > tr > td,
.table-tight > tbody > tr > td,
.table-tight > tfoot > tr > td {
    padding-left: 0;
    padding-right: 0;
}

.table-tight-vert > thead > tr > th,
.table-tight-vert > tbody > tr > th,
.table-tight-vert > tfoot > tr > th,
.table-tight-vert > thead > tr > td,
.table-tight-vert > tbody > tr > td,
.table-tight-vert > tfoot > tr > td {
    padding-top: 0;
    padding-bottom: 0;
}

.date {
    width: 0px
}

#typevent, #doctor, #patient {
    height: 20px;
    border: 1px solid;
    margin-top: 20px;
}

.user-list {
    width: 100%;
}

.user-list-title,
.user-edit-title {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.user-list tr td:first-child {
    padding-right: 20px;
}

.user-list td {
    border: 1px solid;
    text-align: center;
}

.user-list tr:nth-child(2n) {
    background: #007bff8f;
}

.user-edit-form {
    width: 40%;
    margin: auto;
}

.user-edit-label {
    font-weight: bold;
    font-size: 25px;
    margin-right: 10px;
    display: inline-block;
}

.user-edit-label._role {
    display: block;
    margin-top: 10px;
}

.list-role {
    margin-left: 80px;
}

.main-page {
    height: 675px;
    width: 100%;
    background: url(background.jpg) no-repeat;
}

.main-page-title {
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: bold;
}